@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* ==================COMPANY LOGO================= */
.style {
  font-family: 'Great Vibes', cursive;
}

/* ==================CONTENT================= */
.content {
  padding-top: 92px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .content {
    padding-top: 160px;
    overflow: hidden;
  }
}


/* ==================PAGINATION================== */
.paginate li.active {
    color: #ffffff;
    font-weight: 500;
    border-color: white;
    background-color: #450a0a;
  }
  .paginate button:disabled{
    color: #ffffff;
    background:gray;
  }
  
